input{
    border:0.5px ridge gray;
    border-radius: 15px;
    
    text-align: center;
    padding:8px 3px;
    margin:0px 10px;
}
input:hover , input:focus{
    background-color: rgb(240, 214, 241);
   
}

label{
    margin-top: 50px;
    color: azure;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
div{
    display:grid;
    margin-top: 50px;
    border:0.3px ridge gray;
    border-radius: 10px;
    width:350px;
    height: 400px;
    align-items: center;
    
    background-color: blueviolet;
}